<strong>Constraints</strong>
  <% constraints = current_user.constraints.all %>
  <% constraints.each do |constraint| %>
  <li><%= constraint.course.name %> | <%= button_to "Delete", constraint, :method => :delete %>
  </li>
 <% end %>