<strong>Do Not Have Class On:</strong>
  <% @timings.each do |timing| %>
  <% timing.meetings.each do |meeting| %>
  <li><%= meeting.start_time_to_s %> to <%= meeting.end_time_to_s %> on
      <%= meeting.day_to_s %>
      <%= button_to "Delete", timing, :method => :delete %>
  </li>
  <% end %>
 <% end %>