<br>
    <h1>The Team</h1>
<br><br>
<div class="box", style="text-align:left;margin-top:0px;">
<strong>Aditya Jayanthi:</strong> jaditya@seas.upenn.edu<br><br>
<strong>Madhav Nandipati:</strong> madhav@seas.upenn.edu<br><br>
<strong>Khaled Saad:</strong> ksaad@seas.upenn.edu<br><br>
<strong>Arshan Vakil:</strong> arshanv@seas.upenn.edu<br>
</div>