<script type="text/javascript">
$(document).ready(function(){
  $("button").click(function(){
    $("p").toggle();
  });
});
</script>

<button>Toggle Help</button>
<p> To use this website, remember to click Schedule Classes, which should be sufficient enough to take you through the process. </p>
