<br><br>
<% if signed_in? %>
  <table class="front" summary="For signed-in users">
      <h1 font="Myriad Pro"><%= link_to "Schedule My Classes Now!", scheduling_course_path, class:'large nice blue radius button' %></h1>
  </table>
  <br><br>
<% else %>
  <h1><%= link_to "Sign up now!", signup_path, class:'large nice blue radius button' %></h1>
  <br><br>
<% end %>