<h1>Welcome to the Penn Schedule Assembler</h1>
<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    Hi, you are signed in! Look at your profile for your course constraints
  </table>
<% else %>
  <%= link_to "Sign up now!", signup_path %>
<% end %>