<h1>Which courses would you like to have?</h1>
<%= link_to "I am done adding courses. Take me onwards!", scheduling_timing_path %>
<ul class="constraints">
  <%= render :partial => 'shared/constraint' %>
</ul>

<ul class="courses">
  <%= render :partial => 'shared/course' %>
</ul>