<h1>When do you not want to go to class?</h1>
<%= link_to "I want to add more courses. Take me back!", scheduling_course_path %><br />
<%= link_to "Schedule my classes now!", scheduling_timing_path %>

<ul class="constraints">
  <%= render :partial => 'shared/constraint' %>
</ul>