<% @meetings.each do |meeting| %>
<br> Meeting <%= meeting.id %>
<li> Meeting Start Time: <%= meeting.start_time %> </li>
<li> Meeting End Time: <%= meeting.end_time %> </li>
<li> Meeting Listing: <%= meeting.listing %> </li>
<br>
<% end %>
